:root {
  --dark-background-color: #09215D;
  --contrast-background-color: #2F3891;
  --light-background-color: #FEFEFE;
  --dark-text-color: #C4C7D9;
  --light-text-color: #FEFEFE;
  --button-contrast-color: #F2464F;
}