/* Cores do projeto */
:root {
  --dark-background-color: #09215D;
  --contrast-background-color: #2F3891;
  --light-background-color: #FEFEFE;
  --dark-text-color: #C4C7D9;
  --light-text-color: #FEFEFE;
  --button-contrast-color: #F2464F;
}

/* Reset CSS */
a {
	text-decoration: none;
}

ol, ul {
	list-style: none;
}

html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, article, footer, header, nav, section, main {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

h1, h2, h3, h4, h5, h6, p, a, ul {
	font-size: 1em;
	font-weight: normal;
}

*, *:before, *:after {
  box-sizing: border-box;
}

/* CSS do site */
body {
  font-family: 'Alice', serif;
  font-family: 'Nunito', sans-serif;
}

h1 {
  font-family: 'Alice', serif;
}

h2, h3, p, a, button {
  font-family: 'Nunito', sans-serif;
}